/* Estiliza o corpo da página */
html, body {
    height: 100%; /* Garante que o HTML e o body ocupem a altura total da viewport */
    margin: 0;
}

body {
    font-family: "Lora", serif; /* Define a fonte padrão como Lora */
    display: flex; /* Usa Flexbox para layout */
    flex-direction: column; /* Alinha os itens na vertical */
    min-height: 100vh; /* Garante que o corpo ocupe pelo menos a altura da viewport */
    background-image: url('ceva.jpg');
    background-size: cover; /* Faz com que a imagem cubra toda a área do elemento */
    background-position: center center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita a repetição da imagem */
    background-attachment: fixed; /* A imagem de fundo não se move ao rolar a página */
}

/* Estiliza a área principal */
main {
    flex: 1; /* Faz com que o main cresça para preencher o espaço disponível */
}

/* Centraliza o conteúdo */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    width: 100%; /* Garante que o container ocupe a largura total disponível */
    box-sizing: border-box; /* Inclui padding e border na largura total */
}

/* Media queries para ajustar o layout do rodapé em diferentes tamanhos de tela */
@media (max-width: 768px) {
    footer {
        padding: 3px 5px; /* Ajusta o padding para telas menores */
        font-size: 13px; /* Reduz o tamanho da fonte em telas menores */
    }
}

/* Estiliza os títulos h1 */
h1 {
    font-size: 2.5rem; /* Tamanho da fonte */
    color: #FFD700; /* Ouro Velho - cor do texto */
    text-align: center; /* Alinha o texto ao centro */
    letter-spacing: 0.4rem; /* Espaçamento entre letras */
}

/* Estiliza as seções da página */
section {
    display: flex; /* Usa Flexbox para layout */
    flex-direction: column; /* Alinha os itens na vertical */
    align-items: center; /* Centraliza os itens horizontalmente */
    margin-bottom: 3rem; /* Espaçamento abaixo de cada seção */
    width: 100%; /* Garante que as seções ocupem a largura total disponível */
    box-sizing: border-box; /* Inclui padding e border na largura total */
}

/* Estiliza os inputs dentro das seções */
section input {
    width: 100%; /* Largura total disponível */
    max-width: 30rem; /* Largura máxima dos inputs */
    border: none; /* Remove a borda padrão */
    padding: 1rem; /* Espaçamento interno */
    border-radius: 1.5rem; /* Borda arredondada */
    margin-bottom: 1rem; /* Espaçamento abaixo dos inputs */
    color: #45474B; /* Cor do texto */
    font-size: 1rem; /* Tamanho da fonte */
    box-sizing: border-box; /* Inclui padding e border na largura total */
}

/* Estiliza os botões dentro das seções */
section button {
    padding: 0.8rem 1.2rem; /* Espaçamento interno do botão */
    border: none; /* Remove a borda padrão */
    border-radius: 1.5rem; /* Borda arredondada */
    background-color: #6B8E23; /* Cor de fundo do botão */
    color: #F5F7F8; /* Cor do texto do botão */
    font-size: 1rem; /* Tamanho da fonte */
    cursor: pointer; /* Muda o cursor para indicar que é clicável */
}

/* Estiliza a caixa de resultados da pesquisa */
.resultados-pesquisa {
    width: 100%; /* Largura total disponível */
    max-width: 60rem; /* Largura máxima da caixa de resultados */
    height: 46vh; /* Altura máxima da caixa de resultados */
    overflow-y: auto; /* Adiciona rolagem vertical se necessário */
    margin: 1rem auto; /* Centraliza a caixa de resultados e adiciona espaçamento superior */
    padding: 1rem; /* Espaçamento interno */
    border-radius: 0.6rem; /* Borda arredondada */
    box-sizing: border-box; /* Inclui padding e border na largura total */
    background-color: #a8b383; /* Cor de fundo verde oliva claro */
    display: none; /* Esconde a caixa de resultados inicialmente */
}

/* Estiliza cada item de resultado */
.item-resultado {
    display: flex; /* Usa Flexbox para layout */
    flex-direction: column; /* Alinha os itens na vertical */
    align-items: flex-start; /* Alinha os itens ao início */
    background: #FFFFFF; /* Cor de fundo dos itens */
    border-radius: 0.6rem; /* Borda arredondada */
    padding: 1rem; /* Espaçamento interno */
    margin-bottom: 1rem; /* Espaçamento abaixo dos itens */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra leve */
    width: 100%; /* Largura total disponível */
    box-sizing: border-box; /* Inclui padding e border na largura total */
}

/* Estiliza a descrição dentro do item de resultado */
.item-resultado .descricao-resultado {
    flex: 1; /* Faz a descrição ocupar o restante do espaço disponível */
}

/* Estiliza o título dentro da descrição */
.item-resultado .descricao-resultado h2 {
    font-size: 1.5rem; /* Tamanho da fonte */
    color: #222831; /* Cor do texto */
    margin-top: 0; /* Remove a margem superior do título */
}

/* Estiliza os detalhes dentro da descrição */
.item-resultado .descricao-resultado .detalhes {
    margin-bottom: 0.5rem; /* Espaçamento entre detalhes */
}

/* Estiliza o link dentro da descrição */
.item-resultado .descricao-resultado a {
    text-decoration: none; /* Remove o sublinhado padrão dos links */
    color: #30475E; /* Cor do texto dos links */
}

/* Estiliza o link quando passa o mouse sobre */
.item-resultado .descricao-resultado a:hover {
    text-decoration: underline; /* Adiciona sublinhado ao passar o mouse */
}

/* Estiliza a descrição meta dentro dos itens de resultado */
.descricao-meta {
    color: #45474B; /* Cor do texto */
    margin: 0.5rem 0; /* Margem acima e abaixo */
}

/* Estiliza a mensagem de erro */
.mensagem-erro {
    color: red; /* Cor do texto da mensagem de erro */
    margin-top: 0.5rem; /* Ajusta a margem superior para posicionar o texto mais próximo do botão */
    font-size: 1rem; /* Ajusta o tamanho da fonte se necessário */
}

/* Estiliza o rodapé da página */
footer {
    background-color: #808000; /* Verde Oliva */
    padding: 5px 10px; /* Ajusta o padding (espaçamento interno) */
    text-align: center; /* Centraliza o texto */
    font-size: 15px; /* Ajusta o tamanho da fonte */
    line-height: 1.2; /* Ajusta o espaçamento entre linhas para reduzir a altura */
    color: #fffafa; /* Cor do texto */
    border-top: 1px solid #ccc; /* Adiciona uma borda superior sutil */
    width: 100%; /* Garante que o rodapé ocupe a largura total disponível */
    box-sizing: border-box; /* Inclui padding e border na largura total */
    margin: 0 auto; /* Centraliza o rodapé */
}

